<!-- About us -->
<div class="row">
    <div class="col-10 mx-auto py-5">
        <h6 class="text-secondary mb-0">We are the best</h6>
        <h1 class="display-4 mb-0">FinWallApp 2.0</h1>
        <h5 class="text-secondary">Mobile HTML Template</h5>
        <br>
        <p class="text-secondary">For the humans by the human<br>Hand Crafted by Maxartkiller with <span
                class="text-danger">❤</span></p>
    </div>
</div>
<div class="row bg-theme text-white">
    <div class="col align-self-center">
        <div class="text-center py-4">
            <h4 class="mb-0"><span class="countertext">35</span>+</h4>
            <p class="small">Pages</p>
        </div>
    </div>
    <div class="col align-self-center">
        <div class="text-center py-4">
            <h4 class="mb-0"><span class="countertext">9</span>+</h4>
            <p class="small">Styles</p>
        </div>
    </div>
    <div class="col align-self-center">
        <div class="text-center py-4">
            <h4 class="mb-0"><span class="countertext">2</span></h4>
            <p class="small">Dark<sup>L</sup>+RTL</p>
        </div>
    </div>
    <div class="col align-self-center">
        <div class="text-center py-4">
            <h4 class="mb-0"><span class="countertext">3</span></h4>
            <p class="small">Menus</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10 mx-auto py-4">
        <h4>Its time to fall in love with Creative design, Flexibility &amp; Uniqueness.</h4>
        <p class="text-secondary mt-3">User experienced user interfaces with HTML and CSS also providing
            flexibility of style color customization. We have created specific website template demos and
            component library which be used across any demo.</p>
    </div>
</div>
<div class="row">
    <div class="col-6 col-md-6">
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-2">User Experience</h6>
                        <p class="text-secondary small">User Experience is key priority for us and we
                            always think about domains as well as users from those business domain.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-6">
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-2">Unlimited Styles</h6>
                        <p class="text-secondary small">We have predefined 5+ styles and create very own
                            new style by changing and recompiling provided varibles file in SCSS.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 col-md-6">
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-2">Best Framework</h6>
                        <p class="text-secondary small">We and many of us love bootstrap framework so we
                            have build FinWallApp with Bootstrap 5 version.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-6">
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-2">Many Icons</h6>
                        <p class="text-secondary small">There are many posibility to use icons with any
                            fonts icons. Here we have used bootstrap icons</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 col-md-6">
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-2">Clean Code</h6>
                        <p class="text-secondary small">We have practiced with clean code no more commented
                            areas and only required comments. Also validated with W3C validator.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-6 ">
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-2">Documentation</h6>
                        <p class="text-secondary small">We have added documentation to undertand basic
                            folder structure and steps to change styles with code snippets.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 py-4">
        <h4>Attach with Emotions</h4>
        <h6>Express your brand with FinWallApp</h6>
        <p class="text-secondary mt-3">Our FinWallApp HTML template is creatively hand crafter with
            consideration
            of human behaviour with consistancy and color contrast. We have created full website demo with
            multiple
            each domain/business demo unlike anyother template in market.</p>
    </div>
</div>