<!-- list data request money -->
<div class="row mb-3">
    <div class="col">
        <h6 class="title">Requested Money</h6>
    </div>
    <div class="col-auto align-self-center">
        <a routerLink="/transactions" class="small">New Request</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10">
                            <img src="assets/img/user3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="small mb-1"><a routerLink="/profile" class="fw-medium">Shelvey</a> <span
                                class="text-secondary">request send</span></p>
                        <p>150 <span class="text-secondary">$</span> <small class="text-secondary">1 min
                                ago</small>
                        </p>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-44 btn-light text-danger shadow-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10">
                            <img src="assets/img/user4.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="small mb-1"><a routerLink="/profile" class="fw-medium">John Pattent</a>
                            <span class="text-secondary">request send</span>
                        </p>
                        <p>150 <span class="text-secondary">$</span> <small class="text-secondary">5 min
                                ago</small>
                        </p>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-44 btn-light text-danger shadow-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10">
                            <img src="assets/img/user2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <div class="row">
                            <div class="col">
                                <p class="small mb-1">
                                    <a routerLink="/profile" class="fw-medium">Alice Doe</a>
                                    <span class="text-secondary">helped you</span>
                                </p>
                                <p>150 <span class="text-secondary">$</span></p>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="tag tag-small bg-success border-success text-white px-2">
                                    Completed
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
