<!-- product banner -->
<div class="row">
    <div class="col-12 px-0 position-relative">
        <swiper class="cardswiper" [slidesPerView]="'auto'" [spaceBetween]="0" [pagination]="false">
            <ng-template swiperSlide>
                <div class="card shadow-sm mb-3">
                    <div class="card-body">
                        <img src="assets/img/categories1.png" alt="" class="w-100 rounded-15">
                    </div>
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div class="card shadow-sm mb-3">
                    <div class="card-body">
                        <img src="assets/img/categories1.png" alt="" class="w-100 rounded-15">
                    </div>
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div class="card shadow-sm mb-3">
                    <div class="card-body">
                        <img src="assets/img/categories1.png" alt="" class="w-100 rounded-15">
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>
</div>
<!-- name and description -->
<div class="row mb-2">
    <div class="col">
        <p class="text-secondary small">Electronics </p>

    </div>
    <div class="col-auto">
        <p class="small">
            <span class="text-secondary">5.0 (1445 Reviews)</span>
            <i class="bi bi-star-fill text-warning"></i>
        </p>
    </div>
</div>
<h4 class="mb-2">Samsungs TV SM365200</h4>
<div class="row mb-3">
    <div class="col align-self-center">
        <h5>$ 524.00 <s class="small text-secondary fw-light">$ 650.00</s></h5>
    </div>
    <div class="col-auto">
        <div class="counter-number">
            <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle">
                <i class="bi bi-dash size-22"></i>
            </button>
            <span>2</span>
            <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle">
                <i class="bi bi-plus size-22"></i>
            </button>
        </div>
    </div>
</div>

<!-- delivery time -->
<div class="row">
    <div class="col-12">
        <div class="card bg-opac-50 shadow-sm mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="card">
                            <div class="card-body p-1">
                                <figure class="text-center mb-0 avatar avatar-50 bg-theme rounded-15">
                                    <i class="bi bi-clock size-24 "></i>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <h6 class="mb-1">San Jose, USA
                            <span class="text-color-theme float-end small">Change <i
                                    class="bi bi-chevron-right"></i></span>
                        </h6>
                        <p><span class="text-opac">Delivery on:</span> <strong>7 Dec 2021</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- buttons -->
<div class="row mb-4">
    <div class="col">
        <a routerLink="/cart" class="btn btn-default btn-lg shadow-sm w-100">Add to Cart</a>
    </div>
    <div class="col">
        <a routerLink="/cart" class="btn btn-success btn-lg shadow-sm w-100 text-white">Buy Now</a>
    </div>
</div>

<h5 class="mb-3">Product Description</h5>
<p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin
    dignissim nisi, eget malesuada ligula ultricies sit amet. Suspendisse efficitur ex eu est placerat
    mattis.</p>
<p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin
    dignissim nisi, eget malesuada ligula ultricies sit amet. Suspendisse efficitur ex eu est placerat
    mattis.</p>

<br />
<p class="text-secondary small">** Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
    sollicitudin dignissim nisi, eget malesuada ligula ultricies sit amet. Suspendisse efficitur ex eu est
    placerat mattis.</p>
<br />

<div class="row mb-3">

    <div class="col-12 text-center mb-3">
        <button class="btn btn-sm btn-outline-info me-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="bi bi-share"></i> Share
        </button>
        <button class="btn btn-sm btn-outline-danger">
            <i class="bi bi-heart"></i> Wishlist
        </button>
    </div>
    <div class="collapse col-12 " id="collapseExample">
        <div class="justify-content-center text-center">
            <p class="mb-1 text-opac">Share product with</p>
            <a routerLink="/#" class="btn btn-link text-color-theme"><i class="bi bi-twitter"></i></a>
            <a routerLink="/#" class="btn btn-link text-color-theme"><i class="bi bi-facebook"></i></a>
            <a routerLink="/#" class="btn btn-link text-color-theme"><i class="bi bi-linkedin"></i></a>
            <a routerLink="/#" class="btn btn-link text-color-theme"><i class="bi bi-google"></i></a>
        </div>
    </div>
</div>

<!-- related product  -->
<div class="row mb-3">
    <div class="col">
        <h6 class="title">Related Products</h6>
    </div>
</div>
<!--products -->
<div class="row mb-3">
    <div class="col-12 px-0">
        <!-- swiper categories -->
        <swiper class="connectionwiper" [slidesPerView]="'auto'" [spaceBetween]="0" [pagination]="false">
            <ng-template swiperSlide class="text-center">
                <a routerLink="/product" class="card text-center bg-theme">
                    <div class="card-body p-1">
                        <figure class="avatar avatar-90 rounded-15 mb-1">
                            <img src="assets/img/categories3.jpg" alt="">
                        </figure>
                        <p class="text-center size-12"><small class="text-muted">LAVAA
                                3500</small><br />$ 459.00</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide class="text-center">
                <a routerLink="/product" class="card text-center bg-theme">
                    <div class="card-body p-1">
                        <figure class="avatar avatar-90 rounded-15 mb-1">
                            <img src="assets/img/categories4.png" alt="">
                        </figure>
                        <p class="text-center size-12"><small class="text-muted">Galaxy
                                S20</small><br />$ 459.00</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide class="text-center">
                <a routerLink="/product" class="card text-center bg-theme">
                    <div class="card-body p-1">
                        <figure class="avatar avatar-90 rounded-15 mb-1">
                            <img src="assets/img/categories5.png" alt="">
                        </figure>
                        <p class="text-center size-12"><small class="text-muted">iPhone
                                12SR</small><br />$ 1012.00</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide class="text-center">
                <a routerLink="/product" class="card text-center bg-theme">
                    <div class="card-body p-1">
                        <figure class="avatar avatar-90 rounded-15 mb-1">
                            <img src="assets/img/categories3.jpg" alt="">
                        </figure>
                        <p class="text-center size-12"><small class="text-muted">LAVAA
                                3500</small><br />$ 459.00</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide class="text-center">
                <a routerLink="/product" class="card text-center bg-theme">
                    <div class="card-body p-1">
                        <figure class="avatar avatar-90 rounded-15 mb-1">
                            <img src="assets/img/categories4.png" alt="">
                        </figure>
                        <p class="text-center size-12"><small class="text-muted">Galaxy
                                S20</small><br />$ 459.00</p>
                    </div>
                </a>
            </ng-template>
        </swiper>
    </div>
</div>