<!-- products -->
<div class="row mb-3">
    <div class="col align-self-center">
        <h6 class="title">Products</h6>
        <p class="text-secondary small">3250 products</p>
    </div>
    <div class="col-auto">
        <nav >
            <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                <button class="btn btn-44 btn-outline-dark active text-normalcase" id="nav-thumbnails-tab"
                    data-bs-toggle="tab" data-bs-target="#nav-thumbnails" type="button" role="tab"
                    aria-controls="nav-thumbnails" aria-selected="true">
                    <i class="bi bi-grid"></i>
                </button>
                <button class="btn btn-44 btn-outline-dark ms-2 text-normalcase" id="nav-lists-tab"
                    data-bs-toggle="tab" data-bs-target="#nav-lists" type="button" role="tab"
                    aria-controls="nav-lists" aria-selected="false">
                    <i class="bi bi-list"></i>
                </button>
            </div>
        </nav>
    </div>
    <div class="col-12 text-center mt-3">
        <p class="text-secondary">Checkout thumbnails view and list view of all products</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-thumbnails" role="tabpanel"
                aria-labelledby="nav-thumbnails-tab">

                <!-- product medsize box  -->
                <div class="row mb-2">
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="card mb-3">
                            <div class="card-body p-1 position-relative">
                                <div class="position-absolute start-0 top-0 m-2 z-index-1">
                                    <div class="tag tag-small bg-theme">
                                        26% OFF
                                    </div>
                                </div>
                                <div class="position-absolute end-0 top-0 p-2 z-index-1 ">
                                    <button
                                        class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-white bg-danger">
                                        <i class="bi bi-heart size-10 vm"></i>
                                    </button>
                                </div>
                                <figure class="avatar w-100 rounded-15 border">
                                    <img src="assets/img/categories4.png" alt="" class="w-100">
                                </figure>
                            </div>
                            <div class="card-body pt-2">
                                <div class="row">
                                    <div class="col">
                                        <p class="small"><small class="text-muted size-12">LAVA
                                                B500</small><br />$ 265.00
                                        </p>
                                    </div>
                                    <div class="col-auto px-0">
                                        <button class="btn btn-sm btn-link text-color-theme">
                                            <i class="bi bi-bag-plus"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="card mb-3">
                            <div class="card-body p-1 position-relative">
                                <div class="position-absolute start-0 top-0 m-2 z-index-1">
                                    <div class="tag tag-small bg-theme">
                                        30% OFF
                                    </div>
                                </div>
                                <div class="position-absolute end-0 top-0 p-2 z-index-1 ">
                                    <button
                                        class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-danger">
                                        <i class="bi bi-heart size-10 vm"></i>
                                    </button>
                                </div>
                                <figure class="avatar w-100 rounded-15 border">
                                    <img src="assets/img/categories1.png" alt="" class="w-100">
                                </figure>
                            </div>
                            <div class="card-body pt-2">
                                <div class="row">
                                    <div class="col">
                                        <p class="small"><small class="text-muted size-12">Smasung
                                                S500</small><br />$
                                            459.00</p>
                                    </div>
                                    <div class="col-auto px-0">
                                        <button class="btn btn-sm btn-link text-color-theme">
                                            <i class="bi bi-bag-plus"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="card mb-3">
                            <div class="card-body p-1 position-relative">
                                <div class="position-absolute start-0 top-0 m-2 z-index-1">
                                    <div class="tag tag-small bg-danger text-white">
                                        SALE
                                    </div>
                                </div>
                                <div class="position-absolute end-0 top-0 p-2 z-index-1 ">
                                    <button
                                        class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-white bg-danger">
                                        <i class="bi bi-heart size-10 vm"></i>
                                    </button>
                                </div>
                                <figure class="avatar w-100 rounded-15 border">
                                    <img src="assets/img/categories2.png" alt="" class="w-100">
                                </figure>
                            </div>
                            <div class="card-body pt-2">
                                <div class="row">
                                    <div class="col">
                                        <p class="small"><small
                                                class="text-muted size-12">Clothing</small><br />$ 265.00
                                        </p>
                                    </div>
                                    <div class="col-auto px-0">
                                        <button class="btn btn-sm btn-link text-color-theme">
                                            <i class="bi bi-bag-plus"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="card mb-3">
                            <div class="card-body p-1 position-relative">
                                <div class="position-absolute start-0 top-0 m-2 z-index-1">
                                    <div class="tag tag-small bg-warning text-white">
                                        1 Offer
                                    </div>
                                </div>
                                <div class="position-absolute end-0 top-0 p-2 z-index-1 ">
                                    <button
                                        class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-danger">
                                        <i class="bi bi-heart size-10 vm"></i>
                                    </button>
                                </div>
                                <figure class="avatar w-100 rounded-15 border">
                                    <img src="assets/img/categories3.png" alt="" class="w-100">
                                </figure>
                            </div>
                            <div class="card-body pt-2">
                                <div class="row">
                                    <div class="col">
                                        <p class="small"><small
                                                class="text-muted size-12">Wash.Machine</small><br />$
                                            254.00</p>
                                    </div>
                                    <div class="col-auto px-0">
                                        <button class="btn btn-sm btn-link text-color-theme">
                                            <i class="bi bi-bag-plus"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="card mb-3">
                            <div class="card-body p-1 position-relative">
                                <div class="position-absolute start-0 top-0 m-2 z-index-1">
                                    <div class="tag tag-small bg-theme">
                                        26% OFF
                                    </div>
                                </div>
                                <div class="position-absolute end-0 top-0 p-2 z-index-1 ">
                                    <button
                                        class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-white bg-danger">
                                        <i class="bi bi-heart size-10 vm"></i>
                                    </button>
                                </div>
                                <figure class="avatar w-100 rounded-15 border">
                                    <img src="assets/img/categories4.png" alt="" class="w-100">
                                </figure>
                            </div>
                            <div class="card-body pt-2">
                                <div class="row">
                                    <div class="col">
                                        <p class="small"><small class="text-muted size-12">LAVA
                                                B500</small><br />$ 265.00
                                        </p>
                                    </div>
                                    <div class="col-auto px-0">
                                        <button class="btn btn-sm btn-link text-color-theme">
                                            <i class="bi bi-bag-plus"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="card mb-3">
                            <div class="card-body p-1 position-relative">
                                <div class="position-absolute start-0 top-0 m-2 z-index-1">
                                    <div class="tag tag-small bg-theme">
                                        30% OFF
                                    </div>
                                </div>
                                <div class="position-absolute end-0 top-0 p-2 z-index-1 ">
                                    <button
                                        class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-danger">
                                        <i class="bi bi-heart size-10 vm"></i>
                                    </button>
                                </div>
                                <figure class="avatar w-100 rounded-15 border">
                                    <img src="assets/img/categories1.png" alt="" class="w-100">
                                </figure>
                            </div>
                            <div class="card-body pt-2">
                                <div class="row">
                                    <div class="col">
                                        <p class="small"><small class="text-muted size-12">Smasung
                                                S500</small><br />$
                                            459.00</p>
                                    </div>
                                    <div class="col-auto px-0">
                                        <button class="btn btn-sm btn-link text-color-theme">
                                            <i class="bi bi-bag-plus"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- product medsize box no gap -->
                <div class="row mb-4 g-0 ">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="row mx-0">
                                    <div class="col-6 col-md-4 col-lg-3 border-end p-3">
                                        <div class="position-relative">
                                            <div class="position-absolute start-0 top-0 z-index-1">
                                                <div class="tag tag-small bg-theme">
                                                    26% OFF
                                                </div>
                                            </div>
                                            <div class="position-absolute end-0 top-0 z-index-1 ">
                                                <button
                                                    class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-danger">
                                                    <i class="bi bi-heart size-10 vm"></i>
                                                </button>
                                            </div>
                                            <figure class="avatar w-100 rounded-15">
                                                <img src="assets/img/categories4.png" alt="" class="w-100">
                                            </figure>

                                            <div class="row">
                                                <div class="col">
                                                    <p class="small"><small class="text-muted size-12">LAVA
                                                            B500</small><br />$
                                                        265.00</p>
                                                </div>
                                                <div class="col-auto px-0">
                                                    <button class="btn btn-sm btn-link text-color-theme">
                                                        <i class="bi bi-bag-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-4 col-lg-3 p-3">
                                        <div class="position-relative">
                                            <div class="position-absolute start-0 top-0  z-index-1">
                                                <div class="tag tag-small bg-theme">
                                                    30% OFF
                                                </div>
                                            </div>
                                            <div class="position-absolute end-0 top-0  z-index-1 ">
                                                <button
                                                    class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-danger">
                                                    <i class="bi bi-heart size-10 vm"></i>
                                                </button>
                                            </div>
                                            <figure class="avatar w-100 rounded-15">
                                                <img src="assets/img/categories1.png" alt="" class="w-100">
                                            </figure>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="small"><small class="text-muted size-12">Smasung
                                                        S500</small><br />$ 459.00</p>
                                            </div>
                                            <div class="col-auto px-0">
                                                <button class="btn btn-sm btn-link text-color-theme">
                                                    <i class="bi bi-bag-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-4 col-lg-3 border-end p-3 border-top">
                                        <div class="position-relative">
                                            <div class="position-absolute start-0 top-0 z-index-1">
                                                <div class="tag tag-small bg-danger text-white">
                                                    SALE
                                                </div>
                                            </div>
                                            <div class="position-absolute end-0 top-0 z-index-1 ">
                                                <button
                                                    class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-white bg-danger">
                                                    <i class="bi bi-heart size-10 vm"></i>
                                                </button>
                                            </div>
                                            <figure class="avatar w-100 rounded-15">
                                                <img src="assets/img/categories2.png" alt="" class="w-100">
                                            </figure>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="small"><small
                                                        class="text-muted size-12">Clothing</small><br />$
                                                    65.00</p>
                                            </div>
                                            <div class="col-auto px-0">
                                                <button class="btn btn-sm btn-link text-color-theme">
                                                    <i class="bi bi-bag-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-4 col-lg-3 p-3 border-top">
                                        <div class="position-relative">
                                            <div class="position-absolute start-0 top-0 z-index-1">
                                                <div class="tag tag-small bg-warning text-white">
                                                    1 Offer
                                                </div>
                                            </div>
                                            <div class="position-absolute end-0 top-0 z-index-1 ">
                                                <button
                                                    class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-danger">
                                                    <i class="bi bi-heart size-10 vm"></i>
                                                </button>
                                            </div>
                                            <figure class="avatar w-100 rounded-15">
                                                <img src="assets/img/categories3.png" alt="" class="w-100">
                                            </figure>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="small"><small
                                                        class="text-muted size-12">Wash.Machine</small><br />$
                                                    254.00</p>
                                            </div>
                                            <div class="col-auto px-0">
                                                <button class="btn btn-sm btn-link text-color-theme">
                                                    <i class="bi bi-bag-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-4 col-lg-3 border-end p-3 border-top">
                                        <div class="position-relative">
                                            <div class="position-absolute start-0 top-0 z-index-1">
                                                <div class="tag tag-small bg-theme">
                                                    26% OFF
                                                </div>
                                            </div>
                                            <div class="position-absolute end-0 top-0 z-index-1 ">
                                                <button
                                                    class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-danger">
                                                    <i class="bi bi-heart size-10 vm"></i>
                                                </button>
                                            </div>
                                            <figure class="avatar w-100 rounded-15">
                                                <img src="assets/img/categories4.png" alt="" class="w-100">
                                            </figure>

                                            <div class="row">
                                                <div class="col">
                                                    <p class="small"><small class="text-muted size-12">LAVA
                                                            B500</small><br />$
                                                        265.00</p>
                                                </div>
                                                <div class="col-auto px-0">
                                                    <button class="btn btn-sm btn-link text-color-theme">
                                                        <i class="bi bi-bag-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-4 col-lg-3 p-3 border-top">
                                        <div class="position-relative">
                                            <div class="position-absolute start-0 top-0  z-index-1">
                                                <div class="tag tag-small bg-theme">
                                                    30% OFF
                                                </div>
                                            </div>
                                            <div class="position-absolute end-0 top-0  z-index-1 ">
                                                <button
                                                    class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-danger">
                                                    <i class="bi bi-heart size-10 vm"></i>
                                                </button>
                                            </div>
                                            <figure class="avatar w-100 rounded-15">
                                                <img src="assets/img/categories1.png" alt="" class="w-100">
                                            </figure>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="small"><small class="text-muted size-12">Smasung
                                                        S500</small><br />$ 459.00</p>
                                            </div>
                                            <div class="col-auto px-0">
                                                <button class="btn btn-sm btn-link text-color-theme">
                                                    <i class="bi bi-bag-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-12 text-center">
                        <button class="btn btn-light shadow-sm text-color-theme">Load more...</button>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="nav-lists" role="tabpanel" aria-labelledby="nav-lists-tab">

                <!-- product medsize list  -->
                <div class="row mb-2">
                    <div class="col-12 col-md-6 ">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto position-relative">
                                        <div
                                            class="position-absolute end-0 top-0 px-2 py-1 mx-2 z-index-1 ">
                                            <button
                                                class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-white bg-danger">
                                                <i class="bi bi-heart size-10 vm"></i>
                                            </button>
                                        </div>
                                        <figure class="avatar avatar-80 rounded-15 border">
                                            <img src="assets/img/categories4.png" alt="" class="w-100">
                                        </figure>
                                    </div>
                                    <div class="col position-relative">
                                        <div class="position-absolute end-0 top-0 z-index-1 ">
                                            <div class="tag tag-small bg-theme me-2">
                                                26% OFF
                                            </div>
                                        </div>
                                        <p class="mb-0"><small class="text-muted size-12">LAVA B500</small>
                                        </p>
                                        <h5>$ 265.00</h5>
                                        <button class="btn btn-sm px-0 text-color-theme">
                                            <i class="bi bi-bag-plus"></i> Add to Cart
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto position-relative">
                                        <div
                                            class="position-absolute end-0 top-0 px-2 py-1 mx-2 z-index-1 ">
                                            <button
                                                class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-white bg-danger">
                                                <i class="bi bi-heart size-10 vm"></i>
                                            </button>
                                        </div>
                                        <figure class="avatar avatar-80 rounded-15 border">
                                            <img src="assets/img/categories1.png" alt="" class="w-100">
                                        </figure>
                                    </div>
                                    <div class="col position-relative">
                                        <div class="position-absolute end-0 top-0 z-index-1 ">
                                            <div class="tag tag-small bg-theme me-2">
                                                16% OFF
                                            </div>
                                        </div>
                                        <p class="mb-0"><small class="text-muted size-12">Samsug TV
                                                SM5500</small></p>
                                        <h5>$ 165.00</h5>
                                        <button class="btn btn-sm px-0 text-color-theme">
                                            <i class="bi bi-bag-plus"></i> Add to Cart
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto position-relative">
                                        <div
                                            class="position-absolute end-0 top-0 px-2 py-1 mx-2 z-index-1 ">
                                            <button
                                                class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-danger">
                                                <i class="bi bi-heart size-10 vm"></i>
                                            </button>
                                        </div>
                                        <figure class="avatar avatar-80 rounded-15 border">
                                            <img src="assets/img/categories2.png" alt="" class="w-100">
                                        </figure>
                                    </div>
                                    <div class="col position-relative">
                                        <div class="position-absolute end-0 top-0 z-index-1 ">
                                            <div class="tag tag-small bg-danger text-white me-2">
                                                On Sale
                                            </div>
                                        </div>
                                        <p class="mb-0"><small class="text-muted size-12">Top Cloths</small>
                                        </p>
                                        <h5>$ 59.00</h5>
                                        <button class="btn btn-sm px-0 text-color-theme">
                                            <i class="bi bi-bag-plus"></i> Add to Cart
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto position-relative">
                                        <div
                                            class="position-absolute end-0 top-0 px-2 py-1 mx-2 z-index-1 ">
                                            <button
                                                class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-danger">
                                                <i class="bi bi-heart size-10 vm"></i>
                                            </button>
                                        </div>
                                        <figure class="avatar avatar-80 rounded-15 border">
                                            <img src="assets/img/categories3.png" alt="" class="w-100">
                                        </figure>
                                    </div>
                                    <div class="col position-relative">
                                        <div class="position-absolute end-0 top-0 z-index-1 ">
                                            <div class="tag tag-small bg-warning text-white me-2">
                                                1 Offer
                                            </div>
                                        </div>
                                        <p class="mb-0"><small class="text-muted size-12">Washing
                                                Machine</small></p>
                                        <h5>$ 265.00</h5>
                                        <button class="btn btn-sm px-0 text-color-theme">
                                            <i class="bi bi-bag-plus"></i> Add to Cart
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto position-relative">
                                        <div
                                            class="position-absolute end-0 top-0 px-2 py-1 mx-2 z-index-1 ">
                                            <button
                                                class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-white bg-danger">
                                                <i class="bi bi-heart size-10 vm"></i>
                                            </button>
                                        </div>
                                        <figure class="avatar avatar-80 rounded-15 border">
                                            <img src="assets/img/categories4.png" alt="" class="w-100">
                                        </figure>
                                    </div>
                                    <div class="col position-relative">
                                        <div class="position-absolute end-0 top-0 z-index-1 ">
                                            <div class="tag tag-small bg-theme me-2">
                                                26% OFF
                                            </div>
                                        </div>
                                        <p class="mb-0"><small class="text-muted size-12">LAVA B500</small>
                                        </p>
                                        <h5>$ 265.00</h5>
                                        <button class="btn btn-sm px-0 text-color-theme">
                                            <i class="bi bi-bag-plus"></i> Add to Cart
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto position-relative">
                                        <div
                                            class="position-absolute end-0 top-0 px-2 py-1 mx-2 z-index-1 ">
                                            <button
                                                class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-white bg-danger">
                                                <i class="bi bi-heart size-10 vm"></i>
                                            </button>
                                        </div>
                                        <figure class="avatar avatar-80 rounded-15 border">
                                            <img src="assets/img/categories1.png" alt="" class="w-100">
                                        </figure>
                                    </div>
                                    <div class="col position-relative">
                                        <div class="position-absolute end-0 top-0 z-index-1 ">
                                            <div class="tag tag-small bg-theme me-2">
                                                16% OFF
                                            </div>
                                        </div>
                                        <p class="mb-0"><small class="text-muted size-12">Samsug TV
                                                SM5500</small></p>
                                        <h5>$ 165.00</h5>
                                        <button class="btn btn-sm px-0 text-color-theme">
                                            <i class="bi bi-bag-plus"></i> Add to Cart
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto position-relative">
                                        <div
                                            class="position-absolute end-0 top-0 px-2 py-1 mx-2 z-index-1 ">
                                            <button
                                                class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-danger">
                                                <i class="bi bi-heart size-10 vm"></i>
                                            </button>
                                        </div>
                                        <figure class="avatar avatar-80 rounded-15 border">
                                            <img src="assets/img/categories2.png" alt="" class="w-100">
                                        </figure>
                                    </div>
                                    <div class="col position-relative">
                                        <div class="position-absolute end-0 top-0 z-index-1 ">
                                            <div class="tag tag-small bg-danger text-white me-2">
                                                On Sale
                                            </div>
                                        </div>
                                        <p class="mb-0"><small class="text-muted size-12">Top Cloths</small>
                                        </p>
                                        <h5>$ 59.00</h5>
                                        <button class="btn btn-sm px-0 text-color-theme">
                                            <i class="bi bi-bag-plus"></i> Add to Cart
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto position-relative">
                                        <div
                                            class="position-absolute end-0 top-0 px-2 py-1 mx-2 z-index-1 ">
                                            <button
                                                class="btn btn-sm btn-26 roudned-circle shadow-sm shadow-danger text-danger">
                                                <i class="bi bi-heart size-10 vm"></i>
                                            </button>
                                        </div>
                                        <figure class="avatar avatar-80 rounded-15 border">
                                            <img src="assets/img/categories3.png" alt="" class="w-100">
                                        </figure>
                                    </div>
                                    <div class="col position-relative">
                                        <div class="position-absolute end-0 top-0 z-index-1 ">
                                            <div class="tag tag-small bg-warning text-white me-2">
                                                1 Offer
                                            </div>
                                        </div>
                                        <p class="mb-0"><small class="text-muted size-12">Washing
                                                Machine</small></p>
                                        <h5>$ 265.00</h5>
                                        <button class="btn btn-sm px-0 text-color-theme">
                                            <i class="bi bi-bag-plus"></i> Add to Cart
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>