<!-- products -->
<div class="row mb-2">
    <div class="col-12 col-md-6 ">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <figure class="avatar avatar-60 rounded-15 border">
                            <img src="assets/img/categories4.png" alt="" class="w-100">
                        </figure>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0"><small class="text-muted size-12">LAVA B500</small>
                        </p>
                        <h5>$ 265.00</h5>
                    </div>
                    <div class="col-auto align-self-center ps-0">
                        <div class="counter-number">
                            <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle">
                                <i class="bi bi-dash size-22"></i>
                            </button>
                            <span>2</span>
                            <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle">
                                <i class="bi bi-plus size-22"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 ">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <figure class="avatar avatar-60 rounded-15 border">
                            <img src="assets/img/categories1.png" alt="" class="w-100">
                        </figure>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0"><small class="text-muted size-12">Samsug TV
                                SM5500</small></p>
                        <h5>$ 165.00</h5>
                    </div>
                    <div class="col-auto align-self-center ps-0">
                        <div class="counter-number">
                            <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle">
                                <i class="bi bi-dash size-22"></i>
                            </button>
                            <span>1</span>
                            <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle">
                                <i class="bi bi-plus size-22"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 ">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <figure class="avatar avatar-60 rounded-15 border">
                            <img src="assets/img/categories2.png" alt="" class="w-100">
                        </figure>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0"><small class="text-muted size-12">Top Cloths</small>
                        </p>
                        <h5>$ 59.00</h5>
                    </div>
                    <div class="col-auto align-self-center ps-0">
                        <div class="counter-number">
                            <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle">
                                <i class="bi bi-dash size-22"></i>
                            </button>
                            <span>1</span>
                            <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle">
                                <i class="bi bi-plus size-22"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col align-self-center">
        <h6 class="title">Pricing</h6>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <p>Shipping Cost</p>
    </div>
    <div class="col-auto">$ 10.00</div>
</div>
<div class="row mb-3">
    <div class="col">
        <p>Subtotal</p>
    </div>
    <div class="col-auto">$ 32.00</div>
</div>
<div class="row fw-bold mb-4">
    <div class="mb-3 col-12">
        <div class="dashed-line"></div>
    </div>
    <div class="col">
        <p>Total</p>
    </div>
    <div class="col-auto">$ 42.00</div>
</div>
<div class="row mb-4">
    <div class="col-12">
        <a routerLink="/address" class="btn btn-default shadow-sm btn-lg w-100">Next</a>
    </div>
</div>