.calendar-daterange{
    opacity: 1;
    position: relative;
    border:none;
    background-color: transparent;
    padding: 0;
}
.calendar-daterange:focus{
    outline: none;
}

.circle-small>.avatar{
 margin: 8px;
}