<div class="row">
    <div class="col-12 profile-page">
        <div class="clearfix"></div>
        <div class="circle small one"></div>
        <div class="circle small two"></div>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="282.062"
            height="209.359" viewBox="0 0 282.062 209.359" class="menubg">
            <defs>
                <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#09b2fd" />
                    <stop offset="1" stop-color="#6b00e5" />
                </linearGradient>
            </defs>
            <path id="profilebg"
                d="M751.177,233.459c-28.511,1.567-38.838,7.246-61.77,27.573s-27.623,71.926-65.15,70.883-27.624-21.369-79.744-40.132-47.13-53.005-23.676-84.8,4.009-57.671,33-75.867,83.269,30.223,127.232,21.5,64.157-41.353,82.329-26,5.953,29.138,8.773,46.369,13.786,23.5,13.786,37.91S779.688,231.893,751.177,233.459Z"
                transform="translate(-503.892 -122.573)" fill="url(#linear-gradient)" />
        </svg>


        <div class="row my-3 py-4">
            <div class="col-7 align-self-center">
                <h1 class="mb-2"><span class="fw-light text-secondary">Hello!</span><br />John</h1>
                <p class="text-muted size-12">New York City,<br />United States</p>
            </div>

            <div class="col align-self-center">
                <figure class="avatar avatar-100 rounded-20 p-1 bg-white shadow-sm">
                    <img src="assets/img/user1.jpg" alt="" class="rounded-18">
                </figure>
            </div>
        </div>
    </div>
</div>

<!-- buttons -->
<div class="row mb-4">
    <div class="col">
        <a routerLink="/" class="btn btn-light btn-lg shadow-sm w-100">Invite</a>
    </div>
    <div class="col">
        <a routerLink="/chat" class="btn btn-default btn-lg shadow-sm w-100">Message</a>
    </div>
</div>
<!-- location map-->
<div class="row mb-4">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <figure class="w-100">
                    <img src="assets/img/map@2x.png" class="mw-100" alt="">
                </figure>
                <div class="row">
                    <div class="col">
                        <p class="mb-1">Jon Winsels</p>
                        <p class="text-secondary small">3023 New Cross Rd, New Cross, London SE14 6AS, New
                            York City, US</p>
                    </div>
                    <div class="col-auto align-self-center">
                        <button class="btn btn-link text-color-theme btn-44">
                            <i class="bi bi-arrow-up-right-circle fs-2"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- My Frequent Payments -->
<div class="row mb-3">
    <div class="col">
        <h6 class="title">My Frequent Payments</h6>
    </div>
</div>
<div class="row mb-1">
    <div class="col-12 col-md-6">
        <div class="card overflow-hidden mb-3">
            <figure class="m-0 p-0 position-absolute top-0 end-0 w-50 h-100 coverimg" style="background-image: url('assets/img/image2.jpg');">
                <img src="assets/img/image2.jpg" alt="" style="display: none;" />
            </figure>
            <div class="card-body p-0">
                <div class="row mx-0">
                    <div class="col-8 py-3 aftercircle">
                        <div class="row">
                            <div class="col-auto">
                                <a routerLink="/profile" class="card text-center">
                                    <div class="card-body p-1">
                                        <div class="position-absolute end-0 top-0 bg-success z-index-1 online-status">
                                        </div>
                                        <figure class="avatar avatar-70 shadow-sm rounded-18">
                                            <img src="assets/img/user4.jpg" alt="" />
                                        </figure>
                                    </div>
                                </a>
                            </div>
                            <div class="col align-self-center px-0">
                                <p class="text-secondary size-10 mb-0">Send Money</p>
                                <p class="mb-2">John Winsels</p>
                                <p>150.00
                                    <small class="text-success">18.2
                                        <i class="bi bi-arrow-up"></i>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card overflow-hidden mb-3">
            <figure class="m-0 p-0 position-absolute top-0 end-0 w-50 h-100 coverimg" style="background-image: url('assets/img/image3.jpg');">
                <img src="assets/img/image3.jpg" alt="" style="display: none;" />
            </figure>
            <div class="card-body p-0">
                <div class="row mx-0">
                    <div class="col-8 py-3 aftercircle">
                        <div class="row">
                            <div class="col-auto">
                                <div class="card text-center">
                                    <div class="card-body p-1">
                                        <div class="position-absolute end-0 top-0 bg-success z-index-1 online-status">
                                        </div>
                                        <figure class="avatar avatar-70 shadow-sm rounded-18">
                                            <img src="assets/img/company5.png" alt="">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="col align-self-center px-0">
                                <p class="text-secondary size-10 mb-0">Transportation</p>
                                <p class="mb-2">ID0582Max</p>
                                <p>320.00
                                    <small class="text-success">1.65
                                        <i class="bi bi-arrow-up"></i>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- People -->
<div class="row mb-2">
    <div class="col">
        <h6 class="title">People</h6>
    </div>
    <div class="col-auto">
        <a routerLink="/userlist" class="small">View More</a>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12 px-0">
        <!-- swiper users connections -->
        <swiper class="connectionwiper" [slidesPerView]="'auto'" [spaceBetween]="0" [pagination]="false">
            <ng-template swiperSlide>
                <a routerLink="/profile" class="card text-center">
                    <div class="card-body p-1">
                        <div class="position-absolute end-0 top-0 bg-success z-index-1 online-status">
                        </div>
                        <figure class="avatar avatar-80 shadow-sm rounded-18">
                            <img src="assets/img/user4.jpg" alt="">
                        </figure>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/profile" class="card text-center">
                    <div class="card-body p-1">
                        <div class="position-absolute end-0 top-0 bg-danger z-index-1 online-status">
                        </div>
                        <figure class="avatar avatar-80 shadow-sm rounded-20">
                            <img src="assets/img/user2.jpg" alt="">
                        </figure>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/profile" class="card text-center">
                    <div class="card-body p-1">
                        <div class="position-absolute end-0 top-0 bg-warning z-index-1 online-status">
                        </div>
                        <figure class="avatar avatar-80 shadow-sm rounded-20">
                            <img src="assets/img/user3.jpg" alt="">
                        </figure>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/profile" class="card text-center">
                    <div class="card-body p-1">
                        <div class="position-absolute end-0 top-0 bg-success z-index-1 online-status">
                        </div>
                        <figure class="avatar avatar-80 shadow-sm rounded-20">
                            <img src="assets/img/user1.jpg" alt="">
                        </figure>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/profile" class="card text-center">
                    <div class="card-body p-1">
                        <div class="position-absolute end-0 top-0 bg-success z-index-1 online-status">
                        </div>
                        <figure class="avatar avatar-80 shadow-sm rounded-20">
                            <img src="assets/img/user4.jpg" alt="">
                        </figure>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/profile" class="card text-center">
                    <div class="card-body p-1">
                        <figure class="avatar avatar-80 shadow-sm rounded-20">
                            <img src="assets/img/user2.jpg" alt="">
                        </figure>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/profile" class="card text-center">
                    <div class="card-body p-1">
                        <div class="position-absolute end-0 top-0 bg-success z-index-1 online-status">
                        </div>
                        <figure class="avatar avatar-80 shadow-sm rounded-20">
                            <img src="assets/img/user3.jpg" alt="">
                        </figure>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/profile" class="card text-center">
                    <div class="card-body p-1">
                        <figure class="avatar avatar-80 shadow-sm rounded-20">
                            <img src="assets/img/user1.jpg" alt="">
                        </figure>
                    </div>
                </a>
            </ng-template>
        </swiper>
    </div>
</div>