<!-- addresss -->
<div class="row mb-3">
    <div class="col align-self-center">
        <h6 class="title">Payment Details</h6>
    </div>
    <div class="col-auto">
        <a routerLink="/shop" class="small">Offers <i class="bi bi-chevron-right vm"></i></a>
    </div>
</div>

<!-- coupon code -->
<div class="row mb-3">
    <div class="col-12 overflow-hidden">
        <!-- input -->
        <div class="row">
            <div class="col position-relative align-self-center">
                <div class="form-group form-floating mb-3 is-valid">
                    <input type="text" class="form-control" value="" id="coupon" placeholder="Coupon Code">
                    <label class="form-control-label" for="coupon">Coupon Code</label>
                </div>
            </div>
            <div class="col-auto align-self-center">
                <button class="btn btn-light btn-44 filter-btn">
                    <i class="bi bi-patch-check size-22"></i>
                </button>
            </div>
        </div>

    </div>
</div>

<!-- payment modes -->
<div class="row mb-3">
    <div class="col align-self-center">
        <h6 class="title">Payment Modes</h6>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12 col-md-6 col-lg-4">
        <a routerLink="/#" class="card shadow-sm mb-3 text-normal">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-60 p-1 shadow-sm shadow-warning rounded-15">
                            <div class="icons bg-warning text-white rounded-12">
                                <img src="assets/img/maestro.png" alt="" class="vm mw-100">
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <p>Maestro card<br><small class="text-opac">**** **** **** 5689</small></p>
                    </div>
                    <div class="col-auto align-self-center">
                        <i class="bi bi-chevron-right text-color-theme"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <a routerLink="/#" class="card shadow-sm mb-3 text-normal">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-60 p-1 shadow-sm shadow-primary rounded-15">
                            <div class="icons bg-primary text-white rounded-12">
                                <img src="assets/img/visa.png" alt="" class="vm mw-100">
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <p>Visa card<br><small class="text-opac">Add your card</small></p>
                    </div>
                    <div class="col-auto align-self-center">
                        <i class="bi bi-chevron-right text-color-theme"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>           

<!-- pricing -->
<div class="row mb-4">
    <div class="col align-self-center">
        <h6 class="title">Pricing</h6>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <p>Shipping Cost</p>
    </div>
    <div class="col-auto">$ 10.00</div>
</div>
<div class="row mb-3">
    <div class="col">
        <p>Subtotal</p>
    </div>
    <div class="col-auto">$ 32.00</div>
</div>
<div class="row fw-bold mb-4">
    <div class="mb-3 col-12">
        <div class="dashed-line"></div>
    </div>
    <div class="col">
        <p>Total</p>
    </div>
    <div class="col-auto">$ 42.00</div>
</div>
<div class="row mb-4">
    <div class="col-12">
        <a routerLink="/shop" class="btn btn-default shadow-sm btn-lg w-100">Confirm</a>
    </div>
</div>