<!-- user block -->
<div class="row">
    <div class="col-6 col-sm-4 col-md-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-80 mx-auto rounded-15">
                                    <img src="assets/img/user1.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <p class="mb-0 text-color-theme text-center">John McMohan</p>
                <p class="text-small text-secondary small">Chief Designer</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-80 mx-auto rounded-15">
                                    <img src="assets/img/user2.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <p class="mb-0 text-color-theme text-center">Alizee D'Souza</p>
                <p class="text-small text-secondary small">Lead Designer</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <div class="card mb-4 shadow-sm p-2 bg-theme text-dark">
            <div class="card-body text-center bg-white rounded-15 shadow-sm">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-80 mx-auto rounded-15">
                                    <img src="assets/img/user3.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <p class="mb-0 text-color-theme text-center">Selvy Arihant</p>
                <p class="text-small text-secondary small">Marketting Lead</p>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-3">
        <div class="card mb-4 shadow-sm p-2 bg-theme text-dark">
            <div class="card-body text-center bg-white rounded-15 shadow-sm">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-80 mx-auto rounded-15">
                                    <img src="assets/img/user4.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <p class="mb-0 text-color-theme text-center">Ahaan D'Souza</p>
                <p class="text-small text-secondary small">React Native</p>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-3">
        <div class="card mb-4 shadow-sm p-2 bg-theme text-dark">
            <div class="card-body text-center bg-white rounded-15 shadow-sm">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-80 mx-auto rounded-15">
                                    <img src="assets/img/user2.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <p class="mb-0 text-color-theme text-center">Jeny Roy</p>
            </div>
            <div class="card-footer border-0 text-center">
                <p class="text-small text-muted small">UX Designer</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <div class="card mb-4 shadow-sm p-2 bg-theme text-dark">
            <div class="card-body text-center bg-white rounded-15 shadow-sm">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-80 mx-auto rounded-15">
                                    <img src="assets/img/user1.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <p class="mb-0 text-color-theme text-center">Joy Arihant</p>
            </div>
            <div class="card-footer border-0 text-center">
                <p class="text-small text-muted small">UX Designer</p>
            </div>
        </div>
    </div>
</div>
<!-- User list items  -->
<div class="row">
    <div class="col-12">
        <div class="card shadow-sm mb-4 ">
            <ul class="list-group list-group-flush bg-none">
                <li class="list-group-item border-0">
                    <div class="row">
                        <div class="col-auto">
                            <div class="card">
                                <div class="card-body p-1">
                                    <figure class="avatar avatar-44 rounded-15">
                                        <img src="assets/img/user1.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <p>Ajinkya McMohan<br><small class="text-secondary">Jr. Software
                                    Engineer</small></p>
                        </div>
                        <div class="col-auto text-end">
                            <p>
                                <small class="text-secondary">Online <span
                                        class="avatar avatar-6 rounded-circle bg-success d-inline-block"></span></small>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item border-0">
                    <div class="row">
                        <div class="col-auto">
                            <div class="card">
                                <div class="card-body p-1">
                                    <figure class="avatar avatar-44 rounded-15">
                                        <img src="assets/img/user2.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <p>Ajinkya McMohan<br><small class="text-secondary">Project Manager</small></p>
                        </div>
                        <div class="col-auto text-end">
                            <p>
                                <small class="text-secondary">Online <span
                                        class="avatar avatar-6 rounded-circle bg-success d-inline-block"></span></small>
                            </p>
                        </div>
                    </div>
                </li>

                <li class="list-group-item border-0">
                    <div class="row">
                        <div class="col-auto">
                            <div class="card">
                                <div class="card-body p-1">
                                    <figure class="avatar avatar-44 rounded-15">
                                        <img src="assets/img/user3.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <p>Ajinkya McMohan<br><small class="text-secondary">Lead UX Designer</small></p>
                        </div>
                        <div class="col-auto text-end">
                            <p>
                                <small class="text-secondary">Online <span
                                        class="avatar avatar-6 rounded-circle bg-success d-inline-block"></span></small>
                            </p>
                        </div>
                    </div>
                </li>

                <li class="list-group-item border-0">
                    <div class="row">
                        <div class="col-auto">
                            <div class="card">
                                <div class="card-body p-1">
                                    <figure class="avatar avatar-44 rounded-15">
                                        <img src="assets/img/user1.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <p>Ajinkya McMohan<br><small class="text-secondary">Sr. Marketing Head</small>
                            </p>
                        </div>
                        <div class="col-auto text-end">
                            <p>
                                <small class="text-secondary">Online <span
                                        class="avatar avatar-6 rounded-circle bg-success d-inline-block"></span></small>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card mb-4 shadow-sm p-2">
            <div class="card-body text-center shadow-sm rounded-15">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-100 mx-auto rounded-15">
                                    <img src="assets/img/user1.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="card-title mb-0 text-color-theme text-center">John McMohan</h6>
                <p class="text-small text-secondary small">Chief Designer</p>
                <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed eiusmod exercitation
                    ullamco.</p>
            </div>
            <div class="card-footer text-center border-0">
                <a routerLink="/" class="text-secondary mx-2"><i class="bi bi-facebook"></i></a>
                <a routerLink="/" class="text-secondary mx-2"><i class="bi bi-twitter"></i></a>
                <a routerLink="/" class="text-secondary mx-2"><i class="bi bi-linkedin"></i></a>
                <a routerLink="/" class="text-secondary mx-2"><i class="bi bi-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card mb-4 shadow-sm p-2 bg-theme">
            <div class="card-body text-center shadow-sm rounded-15 bg-white text-dark ">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-100 mx-auto rounded-15">
                                    <img src="assets/img/user2.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="card-title mb-0 text-color-theme text-center">Alizee D'Souza</h6>
                <p class="text-small text-secondary small">Lead Designer</p>
                <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed eiusmod exercitation
                    ullamco.</p>
            </div>
            <div class="card-footer text-center border-0">
                <a routerLink="/" class="text-white mx-2"><i class="bi bi-facebook"></i></a>
                <a routerLink="/" class="text-white mx-2"><i class="bi bi-twitter"></i></a>
                <a routerLink="/" class="text-white mx-2"><i class="bi bi-linkedin"></i></a>
                <a routerLink="/" class="text-white mx-2"><i class="bi bi-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card mb-4 shadow-sm p-2">
            <div class="card-body text-center shadow-sm rounded-15">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-100 mx-auto rounded-15">
                                    <img src="assets/img/user3.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="card-title mb-0 text-color-theme text-center">Joy Arihant</h6>
                <p class="text-small text-secondary small">UX Designer</p>
                <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed eiusmod exercitation
                    ullamco.</p>
            </div>
            <div class="card-footer text-center border-0">
                <a routerLink="/" class="text-secondary mx-2"><i class="bi bi-facebook"></i></a>
                <a routerLink="/" class="text-secondary mx-2"><i class="bi bi-twitter"></i></a>
                <a routerLink="/" class="text-secondary mx-2"><i class="bi bi-linkedin"></i></a>
                <a routerLink="/" class="text-secondary mx-2"><i class="bi bi-envelope"></i></a>
            </div>
        </div>
    </div>
</div>