<div class="row mb-3">
    <div class="col">
        <p class="text-secondary">ID: IDO10541823</p>
    </div>
    <div class="col-auto text-end">
        <p class="text-secondary">Delivered on 14 April</p>
    </div>
</div>

<!-- products -->
<div class="row z-index-1 position-relative">
    <div class="col-12 col-md-6 ">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <figure class="avatar avatar-80 rounded-15 border">
                            <img src="assets/img/categories4.png" alt="" class="w-100">
                        </figure>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0"><small class="text-muted size-12">LAVA B500</small>
                        </p>
                        <h5>$ 265.00</h5>
                        <p class="text-success"> Arriving on 8 Aug, 2021</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12 col-md-6 ">
        <div class="card mb-3 overflow-hidden bg-opac-50">
            <div class="card-body px-0">
                <ul class="list-group list-group-flush w-100 bubble-sheet log-information">
                    <li class="list-group-item">
                        <div class="avatar avatar-15 border-success rounded-circle"></div>
                        <p><span class="text-primary">Order Placed</span>
                            <br/><small class="text-muted">1 Aug 2021, 11:00 am</small>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-success rounded-circle"></span>
                        <p><span class="text-primary">Packaged abd Booked by Courier</span>
                            <br/><small class="text-muted">2 Aug 2021, 2:02 pm</small>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-success rounded-circle"></span>
                        <p><span class="text-primary">Pickeup by Courier Facility</span>
                            <br/><small class="text-muted">2 Aug 2021,6:30 pm</small>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-success rounded-circle"></span>
                        <p><span class="text-primary">In Transist</span>
                            <br/><small class="text-muted">3 Aug 2021,6:30 pm</small>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-secondary rounded-circle"></span>
                        <p><span class="text-secondary">Reached at nearest hub</span>
                            <br/><small class="text-muted">2 Aug 2021, 1:32 pm</small>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-secondary rounded-circle"></span>
                        <p><span class="text-secondary">Out of Delivery</span>
                            <br/><small class="text-muted">8 Aug 2021, 2:02 am</small>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="row mb-4">
    <div class="col align-self-center">
        <h6 class="title">Pricing</h6>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <p>Shipping Cost</p>
    </div>
    <div class="col-auto">$ 10.00</div>
</div>
<div class="row mb-3">
    <div class="col">
        <p>Subtotal</p>
    </div>
    <div class="col-auto">$ 32.00</div>
</div>
<div class="row mb-3 text-success">
    <div class="col">
        <p>Discount</p>
    </div>
    <div class="col-auto">$ 5.00</div>
</div>
<div class="row fw-bold mb-4">
    <div class="mb-3 col-12">
        <div class="dashed-line"></div>
    </div>
    <div class="col">
        <p>Total</p>
    </div>
    <div class="col-auto">$ 37.00</div>
</div>
<div class="row mb-4">
    <div class="col-12">
        <a routerLink="/myorders" class="btn btn-light shadow-sm btn-lg w-100">Back</a>
    </div>
</div>