<!-- Search -->
<div class="form-group form-floating mb-3">
    <input type="text" class="form-control " id="search" placeholder="Search">
    <label class="form-control-label" for="search">Search User</label>
    <button type="button" class="text-color-theme tooltip-btn">
        <i class="bi bi-search"></i>
    </button>
</div>

<!-- Chat list   -->
<div class="row">
    <div class="col-12 px-0">
        <div class="list-group list-group-flush rounded-0 bg-none">
            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-circle" style="background-image: url(assets/img/user1.jpg);">
                            <img src="assets/img/user1.jpg" alt="" style="display: none;">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0">John Domnic <span class="float-end size-12 text-muted">2 min</span>
                        </p>
                        <p class="text-secondary"><i class="bi bi-check-all text-primary"></i> Thank you
                            for your purchase</p>
                    </div>
                </div>
            </a>
            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-circle" style="background-image: url(assets/img/user2.jpg);">
                            <img src="assets/img/user2.jpg" alt="" style="display: none;">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0">Alica Tirrantra<span class="float-end size-12 text-muted">4
                                min</span></p>
                        <p class="text-secondary"><i class="bi bi-check"></i> Congratulations!</p>
                    </div>
                </div>
            </a>
            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-circle" style="background-image: url(assets/img/user3.jpg);">
                            <img src="assets/img/user3.jpg" alt="" style="display: none;">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0">Vijay Senapathi <span class="float-end size-12 text-muted">12
                                min</span></p>
                        <p class="text-secondary"><i class="bi bi-check-all"></i> Thank you for your
                            purchase</p>
                    </div>
                </div>
            </a>
            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-circle" style="background-image: url(assets/img/user1.jpg);">
                            <img src="assets/img/user1.jpg" alt="" style="display: none;">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0">John Domnic <span class="float-end size-12 text-muted">30 min</span>
                        </p>
                        <p class="text-secondary"><i class="bi bi-check-all text-primary"></i> Thank you
                            for your
                            purchase</p>
                    </div>
                </div>
            </a>
            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-circle" style="background-image: url(assets/img/user2.jpg);">
                            <img src="assets/img/user2.jpg" alt="" style="display: none;">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0">Alica Tirrantra<span class="float-end size-12 text-muted">1
                                hr</span></p>
                        <p class="text-secondary"><i class="bi bi-check"></i> Congratulations!</p>
                    </div>
                </div>
            </a>
            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-circle" style="background-image: url(assets/img/user3.jpg);">
                            <img src="assets/img/user3.jpg" alt="" style="display: none;">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0">Vijay Senapathi <span class="float-end size-12 text-muted">2
                                hr</span></p>
                        <p class="text-secondary"><i class="bi bi-check-all"></i> Thank you for your
                            purchase</p>
                    </div>
                </div>
            </a>
            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-circle" style="background-image: url(assets/img/user1.jpg);">
                            <img src="assets/img/user1.jpg" alt="" style="display: none;">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0">John Domnic <span class="float-end size-12 text-muted">2 min</span>
                        </p>
                        <p class="text-secondary"><i class="bi bi-check-all text-primary"></i> Thank you
                            for your purchase</p>
                    </div>
                </div>
            </a>
            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-circle" style="background-image: url(assets/img/user2.jpg);">
                            <img src="assets/img/user2.jpg" alt="" style="display: none;">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0">Alica Tirrantra<span class="float-end size-12 text-muted">4
                                min</span></p>
                        <p class="text-secondary"><i class="bi bi-check"></i> Congratulations!</p>
                    </div>
                </div>
            </a>
            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-circle" style="background-image: url(assets/img/user3.jpg);">
                            <img src="assets/img/user3.jpg" alt="" style="display: none;">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0">Vijay Senapathi <span class="float-end size-12 text-muted">12
                                min</span></p>
                        <p class="text-secondary"><i class="bi bi-check-all"></i> Thank you for your
                            purchase</p>
                    </div>
                </div>
            </a>
            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-circle" style="background-image: url(assets/img/user1.jpg);">
                            <img src="assets/img/user1.jpg" alt="" style="display: none;">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0">John Domnic <span class="float-end size-12 text-muted">30 min</span>
                        </p>
                        <p class="text-secondary"><i class="bi bi-check-all text-primary"></i> Thank you
                            for your
                            purchase</p>
                    </div>
                </div>
            </a>
            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-circle" style="background-image: url(assets/img/user2.jpg);">
                            <img src="assets/img/user2.jpg" alt="" style="display: none;">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0">Alica Tirrantra<span class="float-end size-12 text-muted">1
                                hr</span></p>
                        <p class="text-secondary"><i class="bi bi-check"></i> Congratulations!</p>
                    </div>
                </div>
            </a>
            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-circle" style="background-image: url(assets/img/user3.jpg);">
                            <img src="assets/img/user3.jpg" alt="" style="display: none;">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0">Vijay Senapathi <span class="float-end size-12 text-muted">2
                                hr</span></p>
                        <p class="text-secondary"><i class="bi bi-check-all"></i> Thank you for your
                            purchase</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>