<!-- addresss -->
<div class="row mb-3">
    <div class="col align-self-center">
        <h6 class="title">Address Details</h6>
    </div>
    <div class="col-auto">
        <a class="small">Change <i class="bi bi-chevron-right vm"></i></a>
    </div>
</div>

<!-- selected address -->
<div class="row mb-2">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card shadow-sm mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col align-self-center">
                        <h6 class="mb-0">Maxartkiller<br/>
                            <span class="text-secondary size-12 fw-light">Primary</span>
                        </h6>
                    </div>
                    <div class="col-auto align-self-center">
                        <a routerLink="/addaddress" class="btn btn-44 btn-light"><i class="bi bi-pencil "></i></a>
                        <a routerLink="/addaddress" class="btn btn-44 btn-light"><i class="bi bi-plus size-24"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <img src="assets/img/map@2x.png" alt="" class="mw-100 mb-3" />
                <div class="row">
                    <div class="col text-secondary">
                        B 32, maker street 4, Beside Train Tower, Algobbaalsa,<br>California- 25468 (US)
                    </div>
                    <div class="col-auto text-end">
                       <i class="bi bi-arrow-up-right-circle text-color-theme size-22"></i><br>
                       <small class="text-secondary">2.5km <i class="bi bi-geo-alt"></i></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- pricing -->
<div class="row mb-4">
    <div class="col align-self-center">
        <h6 class="title">Pricing</h6>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <p>Shipping Cost</p>
    </div>
    <div class="col-auto">$ 10.00</div>
</div>
<div class="row mb-3">
    <div class="col">
        <p>Subtotal</p>
    </div>
    <div class="col-auto">$ 32.00</div>
</div>
<div class="row fw-bold mb-4">
    <div class="mb-3 col-12">
        <div class="dashed-line"></div>
    </div>
    <div class="col">
        <p>Total</p>
    </div>
    <div class="col-auto">$ 42.00</div>
</div>
<div class="row mb-4">
    <div class="col-12">
        <a routerLink="/payment" class="btn btn-default shadow-sm btn-lg w-100">Payment</a>
    </div>
</div>